{% load static%}
<nav class="navbar fixed-top navbar-expand-lg " style="background-color:#b824df;">
    <a class="navbar-brand" href="#" style="color: white">S P K Profesi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" ><!-- ml-auto ( agar ke kanan) -->
            <li class="nav-item">
                <a class="nav-link" href="/" style="color: white">
                    <img style ="height: 45px" alt="Home" src="{% static 'img/house.png' %}">
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cekprofesi" style="color: white">
                    <img style ="height: 45px" alt="Cek Profesi" src="{% static 'img/id-card.png' %}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white">
                    <img style ="height: 45px" alt="Help" src="{% static 'img/question.png' %}">
                </a>
            </li>   
        </ul>
    </div>
</nav>

